.root {
    -fx-background-color: linear-gradient(to bottom, #405078, #1E293B);
    -fx-font-family: "Segoe UI";
}

/* ================= HEADER ================= */

.title {
    -fx-font-size: 38px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.subtitle {
    -fx-font-size: 15px;
    -fx-text-fill: #f0f6ff;
}

.status {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #22C55E;
}

/* ================= CARD ================= */

.card {

    -fx-background-color: #a6b2cc;

    -fx-background-radius: 20;

    -fx-border-color: #dce2ec;
    -fx-border-width: 1;
    -fx-border-radius: 20;

    -fx-padding: 22;

    -fx-effect: dropshadow(
        gaussian,
        rgba(254, 254, 254, 0.974),
        15,
        0,
        0,
        4
    );
}

.card-title {
    -fx-text-fill: white;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

/* INFO RUANGAN */

.room-info {
   -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-weight: 500;
}

/* ================= BUTTON ================= */

.primary-button {

    -fx-background-color: #3B82F6;

    -fx-text-fill: white;

    -fx-font-size: 14px;
    -fx-font-weight: bold;

    -fx-background-radius: 15;

    -fx-padding: 10 20;

    -fx-cursor: hand;
}

.primary-button:hover {
    -fx-background-color: #2563EB;
}

.danger-button {

    -fx-background-color: #EF4444;

    -fx-text-fill: white;

    -fx-font-size: 14px;
    -fx-font-weight: bold;

    -fx-background-radius: 15;

    -fx-padding: 10 20;

    -fx-cursor: hand;
}

.danger-button:hover {
    -fx-background-color: #DC2626;
}

/* ================= CARD BUTTON ================= */

.room-button {

    -fx-background-color: #22C55E;

    -fx-text-fill: white;

    -fx-font-size: 13px;
    -fx-font-weight: bold;

    -fx-background-radius: 12;

    -fx-padding: 8 18;

    -fx-cursor: hand;
}

.room-button:hover {
    -fx-background-color: #16A34A;
}